name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v2

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...